# 1. Exploratory Network Analysis (ENA)

In this notebook, we perform an exploratory analysis of the raw **MathOverflow answer-to-question** dataset (`sx-mathoverflow-a2q`) from the SNAP database.  
This step precedes any filtering and aims to:

- understand the global structure of the unfiltered interaction graph  
- compute fundamental network statistics  
- inspect temporal activity patterns  
- justify later decisions on subset construction  
- compare raw properties to known results from the literature  

This analysis provides the baseline from which all subsequent processing and structural evaluation will follow.

## 1.1 Dataset Overview

We work with the `sx-mathoverflow-a2q` dataset, which contains **answers to questions**:  
each row represents a timestamped interaction `(u, v, t)`, meaning:

- user **u** answered  
- a question originally posted by **v**  
- at time **t** (UNIX timestamp)

This dataset is a curated subset of the full MathOverflow interaction log, isolating the most meaningful "knowledge-transfer" edges.

According to the SNAP documentation, the dataset includes:

- **21,688 nodes** (unique users)  
- **107,581 temporal answer events**  
- **90,489 static directed edges** (after collapsing duplicates)

In this section, we load the raw dataset and compute initial descriptive statistics.

## 1.2 Loading the Dataset

We begin by loading the raw `sx-mathoverflow-a2q` dataset from the `data/` directory.

The file contains three columns separated by spaces: `source`, `target`, and `timestamp`.

In [1]:
import pandas as pd

df = pd.read_csv("../data/sx-mathoverflow-a2q.txt", delim_whitespace=True, header=None, names=["source", "target", "timestamp"])
df.head()

C:\Users\joaom\AppData\Local\Temp\ipykernel_36556\2535876330.py:3: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv("../data/sx-mathoverflow-a2q.txt", delim_whitespace=True, header=None, names=["source", "target", "timestamp"])

   source  target   timestamp
0       1       4  1254192988
1       3       4  1254194656
2       1       2  1254202612
3      25       1  1254232804
4      14      16  1254263166

> A pandas DataFrame makes manipulation easier.

## 1.3 Basic Data Checks

Once loaded, we inspect:

- the shape of the dataset   
- count of unique users  
- total number of interactions

This allows us to confirm that the dataset matches the expected SNAP statistics and ensures data integrity before constructing the network.

In [2]:
df.shape

(107581, 3)

In [3]:
n_users = len(pd.unique(df[['source','target']].values.ravel()))
n_users

21688

In [4]:
n_events = len(df)
n_events

107581

## 1.4 Temporal Structure of the Interactions

Since each interaction includes a UNIX timestamp, we can extract temporal patterns.

In this section, we:
- convert timestamps into human-readable datetime objects  
- extract year and month  
- compute interaction volume per year  
- visualize how MathOverflow activity evolves over time  

This will later help justify the selection of the **2010â€“2012** window for the network subset.

In [5]:
import datetime

df['datetime'] = pd.to_datetime(df['timestamp'], unit='s')
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.to_period("M")
df['week'] = df['datetime'].dt.to_period("W")
df['day'] = df['datetime'].dt.to_period("D")

In [6]:
df['month'].value_counts().sort_index()

month
2009-09      13
2009-10    2424
2009-11    2643
2009-12    2035
2010-01    2110
           ...
2015-11     995
2015-12     968
2016-01     895
2016-02     998
2016-03     166
Freq: M, Name: count, Length: 79, dtype: int64